<% provide(:title, 'Contact Information') %>
<h1>Contact Information</h1>
<p>
Daniel Yoon is technology guy who ended up spending 7 years on Wall Street before returning back to the technology world to help a friend from college start a company.  He has a Bachelor Degree from Brown University, spent part of his senior year in the Special Student program at MIT, and also took part in the inaugural Ignite Global Innovation Program at the Stanford's Graduate Business School. 
</p>
<p>
On Wall Street, Daniel first was an investment banker on transactions including:
<li>
$1.6bn convertible bond for Intel, the 1st capital markets issuance for Intel since their IPO.
</li>
<li>
$5.0bn convertible bond + derivative call spread + accelerated share repurchase for Amgen, the largest convertible bond ever at time & 2006 IFR Structured Equity Deal of the Year.
</li>
<li>
$15.6 billion dual track leveraged buyout/initial public offering of Hertz by Ford, the second largest leveraged buyout ever at that time after RJR Nabisco. 
</li>
</p>
<p>
Thereafter, he was a stock research analyst for the #1 ranked Gaming & Lodging research team at JPMorgan before being recruited over to ISI Group by their #1 ranked Real Estate research team to build a gaming & lodging franchise.  In November 2011, he returned back to his technology roots by helping his longtime college friend start a company providing technological solutions for the financial service sector.  
<li>
First Team Gaming and Lodging - 2007 Institutional Investor All-America Research Team
</li>
<li>
First Team Gaming and Lodging - 2008 Institutional Investor All-America Research Team
</li>
<li>
First Team Gaming and Lodging - 2009 Institutional Investor All-America Research Team
</li>
<li>
First Team Gaming and Lodging - 2010 Institutional Investor All-America Research Team
</li>
<li>
First Team Real Estate - 2011 Institutional Investor All-America Research Team 
</li>
</p>
<p>
After a year, while at the Ignite Global Innovation Program at Stanford's Graduate School of Business, he was asked by his classmates to help with the business/financial aspects of their pitch decks or internal projections.  Upon further investigation, he realized that all they needed was simply a support network for startups and the entrepreneurs behind them.  And thus he started ThousandSoft.
</p>

<li><%= link_to image_tag("linkedin.png", alt: "LinkedIn"), 'https://www.facebook.com/pages/Thousand-Soft/437962876279830' %></li>
<li><%= link_to image_tag("twitter.png", alt: "Twitter"), 'https://www.twitter.com/zeradan' %></li>
<li><%= link_to image_tag("facebook.png", alt: "Facebook"), 'https://www.facebook.com/pages/Thousand-Soft/437962876279830' %></li>
<li><%= link_to image_tag("email.png", alt: "Email"), 'mailto:thousandsoft@gmail.com' %></li>

