<% provide(:title, "Contact Information") %>
<h1>Contact Information</h1>


<%= link_to image_tag("linkedin.png", alt: "LinkedIn"), 'http://www.linkedin.com/profile/view?id=4156203&trk=tab_pro' %>
<%= link_to image_tag("twitter.png", alt: "Twitter"), 'https://www.twitter.com/zeradan' %>
<%= link_to image_tag("facebook.png", alt: "Facebook"), 'https://www.facebook.com/danzera' %>
<%= link_to image_tag("email.png", alt: "Email"), 'mailto:zeradan@gmail.com' %>

