<div class="container">
  <hr>
  <div class="span12">
    <div class="row">
      <div class="btn-group">
        <button class="btn span2">I Did</button>
        <button class="btn span2">I Liked</button>
        <button class="btn span2">I Wish</button>
      </div>
    </div>
    <div class="row">
      <div class="thumbnail" id="world-map" style="height: 600px"></div>
    </div>
    <script>
$(function(){
  $('#world-map').vectorMap();
});
    </script>
  </div>
</div>
