<div class="container">
  <br>
  <div class="row">
    <div class="btn-group" data-toggle="buttons-radio">
      <button class="btn btn active btn-large span2">Stanford</button>
      <button class="btn btn-large span2">San Francisco</button>
      <button class="btn btn-large span2">Las Vegas</button>
      <button class="btn btn-large span2">New York</button> 
    </div>
    <div class="btn-group pull-right">
      <div id="countryLabel">Country</div>          
    </div>
  </div>
  <div class="row">
    <div class="thumbnail" id="world-map" style="height: 400px"></div>
  </div>
</div>
<script>
$(function(){
  var map,
  markerIndex = 0,
  markersCoords = {};

  map = new jvm.WorldMap({
    map: 'world_mill_en',
    regionsSelectable: true,
    regionStyle: {
      initial: {
        fill: 'white'
      },
      selected: {
        fill: '#2E8B57'
      }
    },
    container: $('#world-map'),
    onRegionClick: showMenu,
    onRegionSelected: showLocation
  });
  map.setSelectedRegions( JSON.parse( window.localStorage.getItem('jvectormap-selected-regions') || '[]' ) );
});

function showMenu(e, code){
  if (window.localStorage) {
    $('#countryLabel').text(code);
    $("#countryURL").attr("href", code);
  }
}

function showLocation(e, code, isSelected, selectedRegions){
  if (window.localStorage) {
    window.localStorage.setItem(
      'jvectormap-selected-regions',
      JSON.stringify(selectedRegions)
    );
  }
}

</script>
