<div class="container">
  <br>
  <div class="row">
    <div class="span3">    
      <%= link_to "Stanford", staticblurb_path, class:"btn btn-large"%>
    </div>
    <div class="span3">    
      <%= link_to "San Francisco", staticblurb_path, class:"btn btn-large span3"%>
    </div>
    <div class="span3">  
      <%= link_to "Las Vegas", staticblurb_path, class:"btn btn-large span3"%>
    </div>
    <div class="span3">      
      <%= link_to "New York", staticblurb_path, class:"btn btn-large span3", id:"countryLabel"%>
    </div>
  </div>
  <div class="row">
    <div class="thumbnail" id="world-map" style="height: 400px"></div>
  </div>
</div>
<script>
$(function(){
  var map,
  markerIndex = 0,
  markersCoords = {};

  map = new jvm.WorldMap({
    map: 'world_mill_en',
    regionsSelectable: true,
    regionStyle: {
      initial: {
        fill: 'white'
      },
      selected: {
        fill: '#2E8B57'
      }
    },
    container: $('#world-map'),
    onRegionClick: showMenu,
    onRegionSelected: showLocation
  });
  map.setSelectedRegions( JSON.parse( window.localStorage.getItem('jvectormap-selected-regions') || '[]' ) );
});

function showMenu(e, code){
  if (window.localStorage) {
    $('#countryLabel').text(code);
    $("#countryURL").attr("href", code);
  }
}

function showLocation(e, code, isSelected, selectedRegions){
  if (window.localStorage) {
    window.localStorage.setItem(
      'jvectormap-selected-regions',
      JSON.stringify(selectedRegions)
    );
  }
}

</script>
