<% provide(:title, @title) %>
<div class="container">
  <table class="table table-bordered">  
  <% if @hotels.any? %>
    <%= render @hotels %>
  </table>
  <%= will_paginate @hotels %>
<% end %>
</div>

