<%= provide(:title, @title) %>
<div class="container">
  <% if @users.any? %>
  <table class="table table-bordered">
    <%= render @users %>
  </table>
  <%= will_paginate @users %>
<% end %>
</div>
