<div class="thumbnail" style="height: 400px">
  <% owners = Hotel.uniq.pluck(:owner) %>
  <% owners.in_groups_of(2).each do |owner_row|  %>
    <div class ="row">
    <div class="btn-group btn-group-lg btn-group-justified">
      <% owner_row.each do |owner| %>
      <% if owner.nil? ? companylink = "/companies/" : companylink = "/companies/"+owner %>
      <%= link_to owner, companylink, class:"btn btn-default", id:"companyLabel" %> 
    <% end %>
    </div>
  </div>
<% end %>
</div>
<div class="carousel-caption">
</div>


