<div class="thumbnail" style="height: 400px">
  <% owners = Hotel.uniq.pluck(:owner) %>
  <% owners.reject! { |c| c.nil? } %>
  <% owners.reject! { |c| c.empty? } %>
  <% owners.in_groups_of(2).each do |owner_row|  %>
    <div class ="row">
    <div class="btn-group btn-group-lg btn-group-justified">
      <% owner_row.each do |owner| %>
        <% owner_name = owner.gsub(/\(([^\)]+)\)/,'').parameterize %>
      <% owner_ticker = owner.match(/\(([^\)]+)\)/) unless owner.match(/\(([^\)]+)\)/).nil? %>
      <% owner_full = owner_ticker.nil? ? owner_name : owner_name+"_"+owner_ticker %> 
      <%= link_to owner, "/companies/"+owner_full, class:"btn btn-default" %> 
    <% end %>
    </div>
  </div>
<% end %>
</div>
<div class="carousel-caption">
</div>
