<div class="thumbnail" style="height: 400px">
  <table class="table table-condensed">
    <tr class="active"></tr>
    <tr class="success"></tr>
    <tr class="warning"></tr>
    <tr class="danger"></tr>
  </table>
</div>
<div class="carousel-caption">
</div>
