<div class="thumbnail" style="height: 400px">
  <table class="table table-condensed">  
  <% owners = Hotel.uniq.pluck(:owner) %>
  <% owners.reject! { |c| c.nil? } %>
  <% owners.reject! { |c| c.empty? } %>
  <% owners.in_groups_of(2,false).each do |owner_row|  %>
    <tr class="active">
      <% owner_row.each do |owner| %>
      <% owner_name = owner.gsub(' ', '-') %>
      <td><%= link_to owner, "/companies/"+owner_name, class:"btn btn-link" %></td>
          <% end %>
    </tr>
  <% end %>
  </table>
</div>

<div class="carousel-caption">
</div>
