<div class="thumbnail" style="height: 400px">
  <% owners = Hotel.uniq.pluck(:owner) %>
  <% owners.in_groups_of(2).each do |owner_row|  %>
    <div class ="row">
    <div class="btn-group btn-group-lg btn-group-justified">
      <% owner_row.each do |owner| %>
        <%= link_to_function owner, 'showCompany(owner)', class:"btn btn-default" %> 
    <% end %>
    </div>
  </div>
<% end %>
</div>
<div class="carousel-caption">
  <%= link_to "Select Specific Place >>>", root_path, class: "btn btn-link", id:"companyLabel" %>...
</div>

<script>
function showCompany(owner){
  var string = new String(owner);
  var label = $('#companyLabel');

  label.text("Select Specific Place From >>>");
  label.attr('href', "/companies/" + "Host-Hotels");
}
</script>

