<div class="thumbnail" style="height: 400px">
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{request.location.latitude}%2C#{request.location.longitude}" %>
</div>
<div class="carousel-caption">
</div>
