<div class="thumbnail" style="height: 400px">
  <% cities = Hotel.uniq.pluck(:city) %>
  <% cities.reject! { |c| c.nil? } %>
  <% cities.reject! { |c| c.empty? } %>
  <% cities.in_groups_of(4,false).each do |city_row|  %> 
    <div class ="row">
    <div class="btn-group btn-group-lg btn-group-justified">
      <% city_row.each do |city| %>
        <%= link_to city, "/cities/"+city.parameterize, class:"btn btn-primary" %>
    <% end %>
    </div>
  </div>
<% end %>
</div>

<div class="carousel-caption">
</div>
