<div class="thumbnail" style="height: 400px">
  <% owners = Hotel.uniq.pluck(:owner) %>
  <% owners.in_groups_of(2).each do |owner_row|  %>
    <div class ="row">
      <div class="btn-group btn-group-lg btn-group-justified">
        <% owner_row.each do |owner| %>
          <% ticker = owner.match(/\(([^)]+)\)/)[1] %>
          <%= link_to ticker, root_url, onclick:'getURL(ticker);', class:"btn btn-default", id:"companyLabel" %> 
      <% end %>
    </div>
  </div>
  <% end %>
</div>
<div class="carousel-caption">
</div>

<script>
function getURL(ticker) {
  var label = $('#companyLabel');

  label.attr('href', "/companies/" + ticker);
}


</script>
