<div id="calendar">
  <% calendar_for @calendar_prices do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday')%>    
    <% calendar.day(:day_method => :date_for) do |date, articles| %>
      <%= date.day %>
    <% end %>
  <% end %>
</div>

<div class="prices">
  <% a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13] %>
  <% a.in_groups_of(7, false) do |group| %>
    <% group.each do |index| %>
    <% firstDate = Date.today + index.day %>
    <%= render :partial => 'shared/calendar_week', :locals => { :firstDate => firstDate } %>
  <% end %>
<% end %>
</div>


