
<%# price = Price.first(@price.hotel_id) %>
<%# unless (price.rate rescue nil).nil? %>
  <h6><%#= link_to number_to_currency(price.rate), historical_price_path(price.id) %></h6>  
<%# else %>
  <h6><%= number_to_currency(0.0) %><br><h6>
<%# end %>


