<li>
<div class="row">
  <div class="span2">
<% unless (historical_price.rate rescue nil).nil? %>
    <span class="price"><b><%= number_to_currency(historical_price.rate) %></b></span>
<% end %>
  </div>
  <div class="span3">
<% unless (historical_price.updated_at rescue nil).nil? %>
    <span class="timestamp">Checked <%=  time_ago_in_words(historical_price.updated_at) %> ago</span>
<% end %>
  </div>
</div>
</li>

