<li>
<div class="row">
  <div class="pull-left">
    <h2>Room Type</h2>
  </div>
  <div class="pull-right">
<% unless (historical_price.rate rescue nil).nil? %>
  <span class="price"><b><%= number_to_currency(historical_price.rate) %></b><br></span>
  <% end %>
  0 Rooms Left<br>
<% unless (historical_price.updated_at rescue nil).nil? %>
    <span class="timestamp">Checked <%=  time_ago_in_words(historical_price.updated_at) %> ago</span>
<% end %>
  </div>
</div>
</li>

