<h2>Room Type
<% unless (historical_price.rate rescue nil).nil? %>
  <span class="price pull-right"><b><%= number_to_currency(historical_price.rate) %></b><br>
  <% end %>
</h2>
    
<% unless (historical_price.updated_at rescue nil).nil? %>
    <span class="timestamp">Checked <%=  time_ago_in_words(historical_price.updated_at) %> ago</span>
<% end %>
<span class="price pull-right">0 Rooms Left</span>
