<li>
  <% if user_signed_in? %>
    <%= image_tag(hotelfeed_item.image, :size => "80x50") %>`
    <%= link_to hotelfeed_item.name, hotelfeed_item %>
  <% else %>
    <%= image_tag(hotelfeed_item.image, :size => "80x50") %>`
    <%= hotelfeed_item.name %>
  <% end %>
</li>
