<% price = Price.for_date_and_hotel(firstDate, hotelfeed_price).first %>
<%= link_to image_tag(hotelfeed_price.image, :size => "80x50"), hotelfeed_price %>
<br>
<% unless (price.rate rescue nil).nil? %>
  <h5><%= number_to_currency(price.rate) %><D-i></h5><br>
  <%#= time_ago_in_words(price.updated_at) %>
<% else %>
  <h5><%= number_to_currency(0.0) %><h5>
<% end %>


