<div class="span1">
  <%= firstDate.strftime("%a") %><br>
  <%= firstDate.strftime("%b %e") %>
  <%= render :partial => 'shared/hotelfeed_price', :collection => @hotelfeed_prices, :locals => { :firstDate => firstDate } %>
  <hr>
</div>
