<table class="table-condensed table-bordered table-striped">
  <thead>
    <tr>
      <th colspan="7" >
        <a class="btn"><i class="icon-chevron-left"></i></a>
        <a class="btn">June 2013</a>
        <a class="btn"><i class="icon-chevron-right"></i></a>
      </th>
    </tr>
    <tr>
      <th colspan="2"><strong>Day of the Week</strong></th>
    </tr>
  </thead>
  <tbody>
  <% 14.times do |index| %>
    <tr>
    <td class="muted"><%#= @dates[index] %></td>
    <td><%#= @dates[index] %></td>  
  </tr>
<% end %>
  </tbody>
</table>
