<div class="span3">
  <div class="well">
    <h3><%= firstDate.strftime("%a") %></h3>
    <h3><%= firstDate.strftime("%b %e") %></h3>
    <hr>
    <%= render :partial => 'shared/summary_price', :collection => @summary_prices, :locals => { :firstDate => firstDate } %>
  </div>
</div>
