<% price = Price.for_date_and_hotel(firstDate, summary_price).first %>

<td>
  <% unless (price.id rescue nil).nil? || (price.rate rescue nil).nil? %>
    <%= link_to number_to_currency(price.rate), historical_price_path(price.id) %>
  <% else %>
    <%= number_to_currency(0.0) %>
  <% end %>
</td>
