<div class="pull-right">
  <%#= link_to image_tag("google.png", alt: "Sign in with Google") + "Sign in", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-link pull-right", id:"logo" %>  
  <%= link_to image_tag("facebook.png", alt: "Sign in with Facebook") + "Sign in", user_omniauth_authorize_path(:facebook), class: "btn btn-link pull-right", id:"logo" %>
  <%= link_to image_tag("email.png", alt: "Sign in with Email") + "Sign in", signin_path, class: "btn btn-link pull-right", id:"logo" %>
</div>

