<div class="row">
  <div class="span3">
      <%= link_to "I Went", user_omniauth_authorize_path(:facebook), class: "btn btn-block" %>
  </div>
  <div class="span3">
      <%= link_to "I Liked", user_omniauth_authorize_path(:facebook), class: "btn btn-block" %>
  </div>
  <div class="span3">
      <%= link_to "I Want", user_omniauth_authorize_path(:facebook), class: "btn btn-block" %>    
  </div>
</div>
