<li>
<div class="row">
  <div class="span1">
    <span class="rate"><%= price.date_for.strftime("%a") %></span>
  </div>
  <div class="span2">
    <span class="rate"><%= price.date_for.strftime("%b %e") %></span> 
  </div>
  <div class="span2">
    <span class="rate"><b><%= number_to_currency(price.rate) %></b></span>
  </div>
  <div class="span2">
    <span class="timestamp">Checked <%=  time_ago_in_words(price.updated_at) %> ago</span>
  </div>
</div>
</li>

