<tr>
  <td>
    <span class="rate"><%= price.date_for.strftime("%a") %></span>
  </td>
  <td>
    <span class="rate"><%= price.date_for.strftime("%b %e") %></span> 
  </td>
  <td>
    <span class="rate"><%= number_to_currency(price.rate) %></span>
  </td>
  <td>
    <span class="timestamp">Checked <%=  time_ago_in_words(price.updated_at) %> ago</span>
  </td>
</tr>

