#wrapper {
  max-width: 1200px;
  margin: 50px auto;
}

#columns {
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  -webkit-column-fill: auto;

  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -moz-column-fill: auto;

  column-count: 2;
  column-gap: 30px;
  column-fill: auto;
}

.pin {
  display: inline-block;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 30px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding-bottom: 5px;
  opacity: 1;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

@media (min-width: 960px) {
  #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  #columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
}