<% provide(:title, 'Hotel Directory') %>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Connect</th>
      </tr>
    </thead>
    <tr>
      <td>Hotel1</td>
      <td><%= link_to "Connect To Hotel", "", class: "btn btn-primary"  %></td>
    </tr>
  </table>
</div>

