<% provide(:title, 'Hotel Directory') %>
<div class="container">

  <br>
  <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <% if current_user.admin == TRUE %>
          <th>Edit</th>
      <% end %>
        <th>Connect</th>
      </tr>
    </thead>
    <tr>
      <td>Hotel1</td>
      <% if current_user.admin == TRUE %>
        <td><%= link_to "Edit Hotel", "", class: "btn btn-primary"%></td>
    <% end %>
      <td><%= link_to "Connect To Hotel", "", class: "btn btn-primary"  %></td>
    </tr>
  </table>
</div>

