<% provide(:title, @hotel.name) %>
<div class="container">
  <div class="btn-group btn-group-justified">
    <%= link_to @hotel.name, "", class:"btn" %>
  </div>
  <% if signed_in? %>
    <%= render 'hotels/connect_form', hotel: @hotel  %>
  <% end %>

  <% if @hotel.prices.any? %>
    <table class="table table-bordered">
    <%= render @prices %>
  </table>
  <%= will_paginate @prices %>
<% end %>
</div>
