<footer class="footer">
  <div class="container">
    <%= link_to "Our Hotels", statichotels_path, id:"footerleft" %>
    <%= link_to "ThousandSoft", staticcontact_path, id:"footerright" %>
  </div>
</footer>
