<div class="row">
  <footer class="footer">  
    <%= link_to "Hotel Collection", statichotels_path, id:"footerleft" %>
    <%= link_to "Mission Statement", staticblurb_path, id:"footerleft" %>    
    <%= link_to "ThousandSoft", staticcontact_path, id:"footerright" %>
  </footer>
</div>

