<footer class="footer">
  <div class="container">
    <%= link_to "Our Collection on Startups", "/users/1", id:"footerleft" %>
    <%= link_to "Our Collection on Entrepreneurs", "/users/2", id:"footerleft" %>
    <%= link_to "ThousandSoft", contact_path, id:"footerright" %>
  </div>
</footer>
