<footer class="footer">
  <div class="container">
    <%= link_to "Our Collection on Startups", about_path, id:"footerleft" %>
    <%= link_to "Our Collection on Entrepreneurs", help_path, id:"footerleft" %>
    <%= link_to "ThousandSoft", contact_path, id:"footerright" %>
  </div>
</footer>
