<footer class="footer">
  <div class="container">
    <%= link_to "Our Collection on Startups", "http://thousandsoft.weebly.com", id:"footerleft" %>  <!#about_path-->
    <%= link_to "Our Collection on Entrepreneurs", "http://thousandsoft.quora.com", id:"footerleft" %>  <!#help_path-->
    <%= link_to "ThousandSoft", contact_path, id:"footerright" %>
  </div>
</footer>
