<div class="container">
  <footer class="footer"> 
      <%= link_to image_tag("facebook.png", alt: "Facebook") + "Facebook", 'https://www.facebook.com/thousandsoft', id:"footerleft" %>
      <%= link_to image_tag("twitter.png", alt: "Twitter") + "Twitter", 'https://www.twitter.com/thousandsoft', id:"footerleft" %>
      <%= link_to image_tag("email.png", alt: "Email") + "Email", 'mailto:thousandsoft@gmail.com', id:"footerleft" %> 
      <%= link_to "ThousandSoft", staticcontact_path, id:"footerright" %>
    </footer>
</div>

