<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Links to Places You Love", root_path, id: "biglogo" %>
    </div>
    <div class="nav">
      <% if user_signed_in? %>
        <%= render 'shared/top_loggedin' %> 
    <% else %>
        <%= render 'shared/top_main' %> 
    <% end %>
    </div>
  </div>
</header>

