<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav">
        <%= link_to "A World Directory of Hotels", root_path, id: "biglogo" %>
      </div>
      <% if user_signed_in? %>
        <%= render 'shared/top_loggedin' %> 
    <% else %>
        <%= render 'shared/top_main' %> 
    <% end %>
    </div>
  </div>
</header>

