<header class="navbar navbar-fixed-top">
  <div class="container">
  <div class="navbar-header">  
      <ul class="nav navbar-left">
        <%= link_to "A World Directory of Hotels", root_path, id: "biglogo" %>
      </ul>
      <% if user_signed_in? %>
        <%= render 'shared/top_loggedin' %> 
      <% else %>
        <%= render 'shared/top_main' %> 
      <% end %>
    </div>
  </div>
</header>

