<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Software to Send Disappearing Messages", root_path, id: "biglogo" %>
    </div>

    <div class="nav navbar-right">
    </div>
  </div>
</header>

