<header class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Software to Share Places", root_path, id: "text-center login-title" %>
    </div>

    <div class="nav navbar-right">
      <% if user_signed_in? %>
        <%= render 'shared/top_loggedin' %>
      <% else %>
        <%= render 'shared/top_main' %>
      <% end %>
    </div>
  </div>
</header>

