<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav">
        <%= link_to "Travel Perks to Leading Hotels", root_path, id: "biglogo" %>
      </div>
      <div>
      </div>
      <% if user_signed_in? %>
        <%= render 'shared/top_loggedin' %> 
    <% else %>
        <%= render 'shared/top_main' %> 
      <% end %>
      For Enterpreneurs and Employees of Leading Corporations
    </div>
  </div>
</header>

